@import "reset.css";
@import "common";
@import "App";
@import "TopMenu";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: fixed #ffffff
    linear-gradient(
      to top,
      #0f1b32,
      rgba(0, 11, 255, 0.5),
      rgba(0, 11, 255, 0) 50%
    );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
;
